.grow-enter {
    max-height: 0;
    opacity: 0;
    transition: max-height 250ms ease-out, opacity 500ms ease-out;
}

.grow-enter-active {
    max-height: 400px;
    opacity: 1;
    transition: max-height 250ms ease-out, opacity 500ms ease-out;
    /* Target height when entering */
}

.grow-exit {
    max-height: 400px;
    opacity: 1;
    transition: max-height 250ms ease-out, opacity 500ms ease-out;
    /* Current height when exiting */
}

.grow-exit-active {
    max-height: 0;
    opacity: 0;
    transition: max-height 250ms ease-out, opacity 500ms ease-out;
    /* Shrink back to 0 */
}

/*VERTICAL*/

.grow-vertical-enter {
    max-height: 13000px;
    opacity: 0;
    transition: opacity 500ms ease-out;
}

.grow-vertical-enter-active {
    max-height: 1300px;
    opacity: 1;
    transition: opacity 500ms ease-out;
    /* Target height when entering */
}

.grow-vertical-exit {
    max-height: 1300px;
    opacity: 1;
    transition: opacity 500ms ease-out;
    /* Current height when exiting */
}

.grow-vertical-exit-active {
    max-height: 0;
    opacity: 0;
    transition: opacity 500ms ease-out;
    /* Shrink back to 0 */
}